# Fichiers d'environnement (Sécurité)
.env

# Dossiers virtuels Python (pour plus tard)
venv/
__pycache__/

# Fichiers de test
credentials.txt

# Configuration locale VSCode
.vscode/
mysql_data/
.DS_Store
